@import '../variables';

.baseContainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: 90vh;
  overflow-y: auto;
  padding: 0 0.5rem;
  width: 70%;
}

.detailsContainer {
  @extend .baseContainer;

  &--empty {
    @extend .baseContainer;

    align-items: center;
    justify-content: center;
  }
}

.exerciseHeader {
  font-size: 1.25rem;
  margin: 0 0 0.25rem 0;
}

.exerciseDescription {
  line-height: 1.125rem;
}

.audioPlayer {
  width: 10rem;
  height: auto;
  object-fit: inherit;
}
