@import '../variables';

.listContainer {
  line-height: 1.5rem;
  list-style: none;
  padding: 0 0.25rem;
  width: 100%;
}

.exerciseLink {
  text-decoration: none;

  &:hover {
    li {
      color: $dark-green;
      font-weight: bold;
    }
  }
}

.listItem {
  font-size: 1rem;
  color: $off-black;

  &--selected {
    color: $green;
    font-weight: bold;
  }
}
