@import '../variables';

.exerciseContainer {
  display: flex;
  flex-direction: column;
  max-height: 90vh;
  overflow-x: hidden;
  overflow-y: auto;
  width: 30%;
}

.filterContainer {
  display: flex;
}

.listContainer {
  display: flex;
}
