@import '../animations';
@import '../variables';

.overlayBase {
  background-color: transparentize($light-grey-30, 0.5);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.spinner {
  align-items: center;
  animation-name: spin;
  animation-duration: 1250ms;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.45, 0.05, 0.55, 0.95);
  display: flex;
  fill: $off-black;
  justify-content: center;
  width: 2.5rem;
}
