@import '../variables';

.skillsContainer {
  align-items: center;
  display: flex;
  flex-direction: row;
}

.skillsIconsContainer {
  display: flex;
  flex-direction: row;
  margin-left: 0.5rem;
}

.skillLevel {
  align-items: center;
  display: flex;
  fill: $dark-green;
  height: 1.25rem;
  justify-content: center;
  width: 1.25rem;
}
