$brand-primary-color:   #00e5bf;
$brand-secondary-color: #80edf3;

$green:                 #00d624;
$dark-green:            #009419;

$true-black:            #000000;
$off-black:             #222222;
$light-grey-30:         #4d4c47;
$medium-grey-50:        #807f7a;
$medium-grey-70:        #c2c1be;
$light-grey-90:         #f4f4f2;
$off-white:             #f5f5f5;
$true-white:            #ffffff;

$success-color:         #00d624;
$error-color:           #bd2c00;
$warning-color:         #c9510c;
$info-color:            #63c0df;
