@import 'colors';

$base-font: 'Open Sans', sans-serif !default;

$corner-radius: 0.5rem;

.baseFont {
  font-family: $base_font;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.125rem;
}

.boldFont {
  @extend .baseFont;
  font-weight: 700;
}

.base-container {
  @extend .baseFont;

  display: flex;
  color: $off-black;
  margin: 0;
  padding: 0;
}
