@import 'animations';
@import 'variables';

html,
body {
  background-color: $light-grey-90;
  box-sizing: border-box;
  font-family: $base-font;
  color: $off-black;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.appContainer {
  align-items: flex-start;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  max-height: 90vh;
  min-height: 31.25rem;
  overflow: hidden;
  padding: 0.5rem;
}

.svgContainer {
  height: 0;
  overflow: hidden;
  position: absolute;
  width: 0;
}
